* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    background: url(img/svg/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.container {
    width: 50%;
    padding: 20px;
    height: 70%;
    padding-left: 100px;
}

.container-2 {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    width: 400px;
    background-color: white;
    height: 550px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 48px;
    margin: 0;
    font-weight: 500;
}

.subtitle {
    width: 370px;
    margin-top: 10px;
}

.form-title {
    font-size: 24px;
}

.field {
    width: 100%;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid #ffb672cc;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.field::placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.field::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-content {
    width: 100%;
}

.section-text {
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.radio-div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.radio {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 2px solid #ffb672cc;
    outline-offset: 2px;
    border-radius: 100%;
}

.radio:checked {
    border-color: #ffb672cc;
    background-color: #ffb672;
}

label {
    font-size: 14px;
    margin-left: 10px;
}

.item {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.message-box {
    width: 100%;
    margin: 5px;
    height: 140px;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid #ffb672cc;
    padding-top: 10px;
    padding-right: 20px;
    resize: none;
}

.message-box::placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.message-box::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.submit {
    width: 100%;
    height: 50px;
    border-radius: 999px;
    border: 1px solid #e6e6e6;
    background-color: #ffb672;
    transition: all 0.5s;
}

.submit:hover {
    background-color: #ffb672cc;
    transition: all 0.5s;
    transform: scale(105%);
}
