:root {
    --secondary-color: #D16D6A;
}

* {
    font-family: "Poppins", system-ui;
}

main {
    margin: 40px 20px;
    overflow: hidden;
}

.title-div {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 10px;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.logo {
    height: auto;
    width: 30px;
}

.pet-list {
    width: 100%;
    height: auto;
    overflow: scroll;
    max-height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.pet-card {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative
}

.pet-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}

.text-div  {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.breed {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
}

.distance {
    display: flex;
    margin-top: 10px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
}

.like-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 10px;
}

.red {
    content: url("img/svg/favorite_24dp_D16D6A_FILL1_wght400_GRAD0_opsz24.svg");
}

.black {
    content: url("img/svg/favorite_24dp_BLACK_FILL0_wght400_GRAD0_opsz24\ \(1\).svg");
}